.kg-callout-card-note {
  background: rgba(33, 172, 232, 0.12);
}

.kg-callout-card-hint {
  background: rgba(52, 183, 67, 0.12);
}

.kg-callout-card-warn {
  background: rgba(240, 165, 15, 0.13);
}

.kg-callout-card p {
  margin-bottom: 10px;
}

.kg-callout-card p:nth-last-child(1) {
  margin-bottom: 0;
}

.kg-callout-card,
.kg-callout-card * {
  box-sizing: border-box;
}

.kg-callout-card {
  display: flex;
  padding: 1.2em 1.6em;
  border-radius: var(--radius);
}

.kg-callout-card div.kg-callout-emoji {
  padding-right: 0.8em;
  line-height: 1.25em;
  font-size: 1.15em;
}

.kg-callout-card div.kg-callout-text {
  font-size: 0.95em;
  line-height: 1.5em;
}

.kg-callout-card + .kg-callout-card {
  margin-top: 1em;
}

/* MEDIA */
@media screen {
  .kg-callout-card {
    margin-bottom: 25px;
  }

  @media only screen and (min-width: 48rem) {
    .kg-callout-card {
      margin-bottom: 30px;
    }
  }

  .kg-callout-card .kg-callout-emoji {
    padding-right: 24px;
  }

  .kg-callout-card .kg-callout-text {
    font-size: 1.0625rem;
  }

  @media only screen and (min-width: 48rem) {
    .kg-callout-card .kg-callout-text {
      font-size: 1.125rem;
    }
  }
}
