.a-details {
  padding: 1rem;
  border: 1px solid rgba(124, 139, 154, 0.25);
  border-radius: var(--radius);
  margin-bottom: var(--content-gap);
}

.a-details summary {
  line-height: 1.3rem;
  padding: 1.1rem;
  margin: -1rem;
  /* font-size: 1.15rem; */
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  list-style: none;
}

.a-details summary::-webkit-details-marker {
  display: none;
}

.a-details[open] summary {
  margin-bottom: 0;
}

.a-details-inner > :first-child {
  margin-top: 0;
}

.a-details-inner > :last-child {
  margin-bottom: 0;
}
