{{/* XMAS */}}
{{/**/}}
<style>
  :root {--xny-bg-opacity: 0.4;}
  .dark {--xny-bg-opacity: 0.1;}
  .xny-bg { animation: 1s xnyBgAnim; opacity: var(--xny-bg-opacity); }
  @keyframes xnyBgAnim { from { opacity: 0; } to { opacity: var(--xny-bg-opacity); } }
  .hextra-cards .hextra-card, .hextra-badge, .kg-callout-card,
  .private-paste #toggleQrCode, .private-paste #toggleView, .private-paste .private-paste__message, .private-paste .private-paste__preview, .private-paste .private-paste__password, .private-paste .private-paste__buttons
  {backdrop-filter: blur(6px);}
</style>
<!-- xmas Settings -->
<script>
  const xnySettings = {
    bgUrl: "https://assets.nozsh.su/img/loose/new-year-bg-light.svg", // BG URL at top page
    maxFlakes: 12, // Max flakes
    funIcons: ["⛄", "🎁", "🦌", "☃", "🍪"], // (❄️≧◡≦❄️)
    funChance: 0.025, // More chance, More fun
    speed1: 8000, // Less number, More speed
    speed2: 10000, // Less number, More speed
    life: 100, // More life, More speed
    initialOpacity: 0.2, // Opacity on born
    opacityThreshold: 0.5 // Opacity on start dying
  };
</script>

<!-- Load xmas.js -->
<script src="https://assets.nozsh.su/js/loose/xmas.min.js?v={{ time.Now.Unix }}" defer></script> {{/**/}}

{{/* Goat Counter */}}
<script data-goatcounter="https://saladvisor-kb.goatcounter.com/count"
async src="//gc.zgo.at/count.js"></script>