<meta name="darkreader-lock">

<style>
  li:has(a[href="/kb/typo/"]) {
    display: none;
  }
</style>

{{/* Custom CSS */}}
<link rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css"
  href="{{ (resources.Get "css/custom-theme-vars.css").RelPermalink }}?v={{ time.Now.Unix }}">
<link rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css"
  href="{{ (resources.Get "css/custom-o.css").RelPermalink }}?v={{ time.Now.Unix }}">

{{/* Hide Menu Sidebar */}}
<script src="{{ (resources.Get "js/hide-menu-sidebar.js").RelPermalink }}?v=3" defer></script>

{{/* NTLinks */}}
<script src="{{ (resources.Get "js/ntlinks.js").RelPermalink }}?v=3" defer></script>

{{/* Lite YouTube Embed */}}
<link rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css"
  href="{{ (resources.Get "css/lite-yt-embed.css").RelPermalink }}?v=1.0.0">
<link rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css"
  href="{{ (resources.Get "css/lite-yt-embed-custom.css").RelPermalink }}?v=1">
<script src="{{ (resources.Get "js/lite-yt-embed.js").RelPermalink }}?v=0.3.3" defer></script>

{{/* mediumZoom */}}
<script src="{{ (resources.Get "js/medium-zoom.min.js").RelPermalink }}?v=1.0.6" data-no-instant></script>
<script src="{{ (resources.Get "js/medium-zoom-settings.js").RelPermalink }}?v=1" defer></script>